.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
              url('/public/assets/bg-car.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

.authForm {
  background: rgba(255, 255, 255, 0.35);
  padding: 0.2rem 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 350px;
  backdrop-filter: blur(0.5px);
}

.authForm h2 {
  color: #000001;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.2rem;
  color: #020203;
  font-weight: 900;
}

.formGroup input {
  width: 100%;
  padding: 0.3rem;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.formGroup input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.submitButton {
  width: 100%;
  padding: 0.55rem;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.2rem;
}

.submitButton:hover {
  background: #5a67d8;
  transform: translateY(-1px);
}

.linkContainer {
  text-align: center;
  margin-top: 0.5rem;
  color: #000000;
  font-weight: 700;
}

.linkContainer a {
  color: #667eea;
  text-decoration: none;
  font-weight: 600;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}

.linkContainer a:hover {
  color: #5a67d8;
  text-decoration: underline;
}

.error {
  color: #e53e3e;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.loading {
  color: #667eea;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.success {
  color: #48bb78;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.googleButton {
  width: 100%;
  padding: 0.55rem;
  background: #8c9cac;
  color: #000000;
  border: 2px ;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.googleButton:hover {
  background:#667eea;;
  border-color: #667eea;;
}

.divider {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a0aec0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e2e8f0;
}

.divider span {
  padding: 0 0.5rem;
}
